
body{
    background-color: #F4A261;
    margin-top: 2%;
}
#features{
    text-align: center;    
}


.card-img-top{
   height: 110px;
   width: 100px;
   margin: auto;
   padding-top: 4%;
}
.nsu{
    width: 30%;
}

.features{
    
    margin: 3% ;
}
